body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
header {
	width: 100vw;
	height: 4rem;
	border-bottom: solid 2px grey;
	margin-bottom: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
h1 {
	font-size: 1.25rem;
}

main {
	width: min(100vw, 786px);
	height: 100%;
	background: whitesmoke; 
}

#drop-zone {position: absolute;}
#input-files {display: none;}
main[data-is-empty="true"] {
	& .files-list-download, & .files-list-open {
		display: none;
	}
}
main[data-is-empty="false"] {
	& .files-list-download, & .files-list-open {
		display: block;
	}
}

label[for=input-files] {
	background: #ffcc11;
}

.btn {
	height: 3rem;
	width: 10rem;
	display: grid;
	place-items: center;
	cursor: pointer;
	border-radius: 5px;
}
