<template id="download-footer-template"
	class="hidden is-filled:flex justify-center sticky bottom-0 w-full h-26 bg-base-100">
	<div class="flex justify-between items-center h-full gap-2 p-2 bg-base-content/10" id="download-footer">
		<div class="w-3/8 grid grid-content-center">
			<p class="font-bold mb-1" id="files-count"></p>
			<label class="z-1 btn btn-outline btn-secondary p-5 input-files" for="input-files-1">
				Select more...
				<input class="sr-only" id="input-files-1" type="file" multiple/>
			</label>
		</div>
		<div class="flex flex-col flex-grow gap-2">
			<button class="btn btn-primary" id="download-btn">Download</button>
			<button class="btn btn-secondary" id="open-in-irealpro-btn">Open in iReal Pro</button>
		</div>
	</div>
</template>
