---
import Song from "../components/app/Song.astro"
import SongEditorModal from "../components/app/SongEditorModal.astro"
import DownloadFooter from "../components/app/DownloadFooter.astro"
import BtnSquare from "../components/app/BtnSquare.astro"
import NotifyCard from "../components/app/NotifyCard.astro"
import Icons from "../components/Icons.astro"
import PageLayout from "../layouts/PageLayout.astro"
import Feature from "../components/Feature.astro"
import Image from "astro/components/Image.astro"
const imgSize = 60;
---
<PageLayout title="Convert musicxml to iReal Pro">
	<div class="hidden">
		<DownloadFooter/>
		<Song/>
		<SongEditorModal/>
		<BtnSquare/>
		<NotifyCard/>
	</div>
	<Icons/>

	<section id="app" class="relative flex flex-col items-center justify-center
				h-[18rem] md:h-[20rem] is-filled:h-auto">
		<div class="z-0 absolute w-[90%] md:w-[42rem] h-[100%] is-filled:hidden
					bg-base-content/10 rounded-xl inset-shadow-sm/10"></div>
		<label for="input-files"
				class="z-1 btn btn-primary btn-lg p-6 is-filled:hidden input-files">
			Select File(s)...
			<input class="sr-only" id="input-files" type="file" multiple/>
		</label>
		<h6 class="hidden md:block is-filled:hidden mt-1 text-base-content/70">or drag and drop here</h6>
		<div class="[--min-fileslist:3] md:[--min-fileslist:4]
			hidden is-filled:block border-bg-secondary border-2 mt-8 is-filled:mt-0 relative
			min-h-[calc(var(--min-fileslist)_*_var(--song-card-height)_+_var(--playlistname-height))]"
			id="files-list">
			<form>
			<label class="hidden is-filled:flex w-full bg-base-100 gap-[1ch]
						font-bold border-b-2 border-bg-secondary p-4"
				for="input-playlist-name">
				<span class="text-base-content/70">Playlist name :</span>
				<input class="border-b-2 border-base-content/70
						outline-none focus:outline-none placeholder:text-base-content/30"
					id="input-playlist-name" type="text" placeholder="write here...">
			</label>
			<button class="sr-only false-submit-btn" data-inputs="#input-playlist-name"></button>
			</form>
		</div>
	</section>

	<section class="flex flex-col items-center mt-2">
		<div class="w-[90%] md:w-[42rem]">
			<Feature title="Safe by default" icon="shield">
				All processing runs locally in your browser - no file is sent to a server.
				This keeps everything private by default and also makes conversions faster and more responsive.
			</Feature>
			<Feature title="Free and open source" icon="diamond">
				Built by a musician for musicians, the code behind both the algorithm and the site is fully open source. The goal is to have a tool that is simple and transparent.
			</Feature>
			<Feature title="Simple to use" icon="file">
				Just export your songs from Sibelius or MuseScore in MusicXML format (.musicxml or .mxl) and drop them into the interface. The conversion happens right away, and because it’s a web app, it works on any device without installation or setup.
			</Feature>
		</div>
		<div class="mb-10 flex gap-10 items-center">
			<!-- <p class="text-secondary font-bold">Happy playing !</p> -->
			<Image class={"rounded-lg select-none"}
				draggable="false"
				height={imgSize * 4}
				width={imgSize * 3}
				src="/images/hanin-abouzeid-guitar.svg"
				alt="enjoy">
			</Image>
		</div>
	</section>
	<script src="../app.js"></script>
</PageLayout>