@import "tailwindcss";
@plugin "daisyui"{
    themes: corporate --default;
}

@theme {
    --font-sans: 'QuickSand', Inter, sans-serif;
    --files-width-md: 48ch;
}

@custom-variant is-filled {
    &:where([data-is-empty=false] *, [data-is-empty=false]) {
        @slot;
    }
}

#drop-zone[data-drag=off] {
    display: none;
}

#drop-zone[data-drag=on] {
    display: block;
}

.anchor {
    anchor-name: --a;
}

.anchored {
    position: position;
}

song-template {
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.no-last-border-b :last-child {
    border-bottom-width: 0px;
}