---
	import '../style.css'
	const {title} = Astro.props;
	const iconRatio = "1rem";
---
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="/favicon.png" />
	<meta name="viewport" content="width=device-width" />
  	<meta name="robots" content="index, follow" />
	<link rel="canonical" href="https://www.mxltoireal.com/" />
	<title>{title} - mxltoireal</title>
 	<meta name="description" content="Convert your MusicXML files to iReal Pro format instantly. Fast, free, and accurate online converter for musicians and educators." />
	<meta name="keywords" content="musicxml, irealpro, converter, jazz, musicxml to irealpro, music tools, chord charts, online converter" />
	<meta property="og:title" content="MusicXML to iReal Pro Converter | Free & Instant" />
	<meta property="og:description" content="Convert MusicXML files to iReal Pro format directly from your browser. Free, fast, and accurate." />
	<meta property="og:url" content="https://www.mxltoireal.com/" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="https://www.mxltoireal.com/images/mxltoireal_twitter_card.png">
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:image" content="https://www.mxltoireal.com/images/mxltoireal_twitter_card.png">
	<meta name="twitter:title" content="MusicXML to iReal Pro Converter" />
	<meta name="twitter:description" content="Free web tool to convert MusicXML files into iReal Pro format instantly." />
	<script type="application/ld+json" is:inline>
		{
			"@context": "https://schema.org",
			"@type": "SoftwareApplication",
			"name": "MusicXML to iReal Pro Converter",
			"applicationCategory": "Music",
			"operatingSystem": "Web",
			"description": "Free online tool to convert MusicXML files into iReal Pro format instantly.",
			"url": "https://www.mxltoireal.com",
			"author": {
				"@type": "Organization",
				"name": "Esteban Mercier"
			}
		}
	</script>
</head>
<body class="flex flex-col min-h-[100vh] relative">

	<div id="drop-zone"
		class="z-1000 absolute bg-[#0003] dark:bg-[#fff3] h-full w-full"
		data-drag="off">
	</div>

	<div id="notify-container"
		class="absolute inset-0 mt-5 flex justify-center items-start"
		data-status="off">
	  <div class="stack h-[8ch] w-[100ch]"></div>
	</div>

	<header class="text-center">
		<h2 class="text-2xl py-3 md:py-5 shadow-xl/10 font-bold"><a href="/">mxltoireal.com</a></h2> <h1 class="text-3xl py-6 md:py-9 ">Convert musicxml files to iReal Pro</h1>
	</header>

	<main class="flex-1 relative">
		<slot/>
	</main>

	<footer class="footer sm:footer-horizontal
			bg-base-200 text-base-content text-md md:text-lg p-10">
		<nav>
			<h6 class="footer-title">Legal</h6>
			<a class="link link-hover" href="/legal#privacy">Privacy policy</a>
			<a class="link link-hover" href="/legal#terms">Terms of use</a>
		</nav>
		<nav>
			<h6 class="footer-title">Contribute</h6>
			<a class="link link-hover"
				href="https://github.com/este36/musicxml-irealpro">Github</a>
			<a class="link link-hover"
				href="https://github.com/este36/musicxml-irealpro/issues/new">Issues</a>
		</nav>
		<aside class="flex flex-col justify-center  h-full sm:order-first">
			<a class="link link-hover" href="/">Home</a>
			<div class="text-sm self-end">
			<p>
				made by <a class="link-secondary" target="_blank" href="https://github.com/este36"> este36 </a>
			</p>
			<p>Copyright © <span id="copyrightYear"></span> - All right reserved</p>
			</div>
		</aside>
	</footer>
	<script is:inline>
		copyrightYear.textContent = new Date().getFullYear();
	</script>
</body>
</html>
