---
	import '../style.css'
	const {title} = Astro.props;
	const iconRatio = "1rem";
---
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="/favicon.png" />
	<meta name="viewport" content="width=device-width" />
	<title>{title} - mxltoireal</title>
</head>
<body class="flex flex-col min-h-[100vh] relative">

	<div id="drop-zone" class="z-1000 absolute bg-[#0003] dark:bg-[#fff3] h-full w-full"
			data-drag="off">
	</div>
	<header class="text-center ">
		<h2 class="text-2xl py-3 md:py-5 shadow-xl/10 font-bold"><a href="/">mxltoireal.com</a></h2> <h1 class="text-3xl py-6 md:py-9 ">Convert musicxml files to iReal Pro</h1>
	</header>

	<main class="flex-1 relative">
		<slot/>
	</main>

	<footer class="footer sm:footer-horizontal
			bg-base-200 text-base-content text-md md:text-lg p-10">
		<nav>
			<h6 class="footer-title">Legal</h6>
			<a class="link link-hover" href="/legal#privacy">Privacy policy</a>
			<a class="link link-hover" href="/legal#terms">Terms of use</a>
		</nav>
		<nav>
			<h6 class="footer-title">Contribute</h6>
			<a class="link link-hover" href="contribute#contact">Contact</a>
			<a class="link link-hover" href="contribute#issues">Issues</a>
		</nav>
		<aside class="flex flex-col justify-center  h-full sm:order-first">
			<h1>made by <a class="link-secondary" target="_blank" href="https://github.com/este36">este36</a></h1>
			<p>Copyright © <span id="copyrightYear"></span> - All right reserved</p>
		</aside>
	</footer>
	<script is:inline>
		copyrightYear.textContent = new Date().getFullYear();
	</script>
</body>
</html>
